<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="/static/logo.webp" type="image/x-icon" />
    <title>Farm NextIn ||</title>
    <style>
       /* Chatbot icon style */
       #chatbot-icon {
            position: fixed;
            bottom: 20px;
            right: 20px;
            cursor: pointer;
        }
        
        /* Chatbot container style */
        #chatbot-container {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 300px;
            height: 400px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        /* Chatbot messages style */
        #chatbot-messages {
            height: 80%;
            padding: 10px;
            overflow-y: auto;
        }

        /* Chatbot input style */
        #chatbot-input {
            outline: none;
            width: 100%;
            padding: 10px;
            border: none;
        }
        /* Reset some default browser styles */
      body, h1, h2, p {
          margin: 0;
          padding: 0;
      }

      /* Style the footer */
      footer {
          background-color: #333; /* Background color */
          color: #fff; /* Text color */
          text-align: center;
          padding: 20px 0;
      }

      /* Style the content inside the footer */
      .footer-content {
          max-width: 1200px; /* Set a maximum width for the content */
          margin: 0 auto; /* Center the content horizontally */
      }

      /* Style the copyright text */
      .footer-content p {
          font-size: 14px;
      }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky top-0">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Farm NextIn</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#soil">Soil info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#recommendation">Recommendation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#storage">Storage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sell">Sell your Product here</a>
            </li>
          </ul>
          <form class="d-flex">
            <!-- Button trigger modal -->
            <button
              class="btn btn-success"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              LogIn
            </button>
          </form>
        </div>
      </div>
    </nav>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="/login" method="post">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                name="email"
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleFormControlInput1"
                name="password"
                placeholder="Enter your password"
                required
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            >
            Close
          </button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </form>
        </div>
      </div>
    </div>

    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner my-2">
        <div class="carousel-item active">
          <img src="/static/slide1.jpeg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img
            src="/static/slide2.avif"
            class="d-block w-100"
            width="1400"
            height="440"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="/static/slide3.jpg"
            class="d-block w-100"
            width="1400"
            height="440"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    
    <div style="padding: 40px; position: fixed; margin-left: 1300px;">
      <div id="chatbot-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          viewBox="0 0 100 100"
        >
          <!-- Chatbot body -->
          <circle cx="50" cy="50" r="40" fill="#0078d4" />

          <!-- Chatbot head -->
          <circle cx="50" cy="30" r="12" fill="#0078d4" />

          <!-- Chatbot eyes -->
          <circle cx="45" cy="27" r="2" fill="white" />
          <circle cx="55" cy="27" r="2" fill="white" />

          <!-- Chatbot mouth -->
          <path d="M48 35 Q 50 40, 52 35" stroke="white" fill="transparent" />

          <!-- Chatbot chat bubble -->
          <path
            d="M70 65 Q 75 65, 75 70 L 75 75 L 80 75 L 75 80 Q 75 85, 70 85"
            fill="#0078d4"
          />
          <text x="73" y="75" fill="white" font-size="10">Chat</text>
        </svg>
    </div>

    <!-- Chatbot container -->
    <div id="chatbot-container">
        <div id="chatbot-messages"></div>
        <input type="text" id="chatbot-input" placeholder="Type your message...">
    </div>
    </div>
    <h1 class="text-center text-decoration-underline my-3">Storage</h1>
    <div class="container d-flex justify-content-around align-items-center">
      <div>
        <img src="/static/storage.jpeg" alt="" width="450" height="400" />
      </div>
      <div>
        Storage facilities in farming play a crucial role in ensuring the <br />
        success and sustainability of agricultural operations. These <br />
        facilities are designed to safely store and preserve various
        agricultural <br />
        products, providing farmers with several benefits.
      </div>
    </div>
    
    <h1 class="text-center text-decoration-underline my-3">Transportation</h1>
    <div
      class="container d-flex justify-content-around align-items-center flex-row-reverse"
    >
      <div>
        <img src="/static/transportation.jpeg" alt="" />
      </div>
      <div>
        Transportation facilities are vital for the success of farming <br />
        operations as they ensure the efficient movement of agricultural <br />
        products from the farm to various distribution points. Here are <br />
        some key points about the importance of transportation facilities <br />
        in farming.
      </div>
    </div>

    <div class="container">
      <h2 class="my-3 text-decoration-underline">Importance Of Transportation Facilities In Farms:</h2>
      <ul>
        <li style="line-height: 135%;">
          <b>Efficient Movement Of Products:</b> With the help of modern <br />
          transportation systems, it is possible to move large quantities <br />
          of goods efficiently across different regions without any loss or
          <br />
          damage.
        </li>
        <li>
          <b>Cost Efficiency:</b> The use of modern transportation <br />
          infrastructure can significantly reduce costs associated <br />
          with traditional methods of moving goods.
        </li>
        <li>
          <b>Increased Accessibility:</b> Modern transportation <br />
          networks make it easier for farmers to reach their <br />
          customers by offering more options for product delivery.
        </li>
        <li>
          <b>Improved Quality Control:</b> Transportation <br />
          services allow for better quality control during <br />
          the production process.
        </li>
        <li>
          <b>Enhanced Customer Service:</b> By using <br />
          advanced logistics solutions, farmers can offer <br />
          superior customer service.
        </li>
      </ul>
    </div>
    <div class="container my-5">
        <h2 class="my-3 text-decoration-underline">Types Of Transportation Used In Farms:</h2>
        <p>There are several types of transportation used in farms including road vehicles, railways, airplanes and sea vessels.</p
            <p>There are several types of transportation used in farms including:</p>
            <ol>
                <li><strong>Road Transportation:</strong> This involves vehicles that operate on roads.</li>
                <li><strong>Railway Transportation:</strong> Railways are another form of transportation that allows for the rapid and efficient way of transportation.</li>
                    <li><strong>Air Transportation:</strong> It refers to airplanes and helicopters which fly over land.</li>
                        <li><strong>Railway Transportation:</strong> This involves trains and other rolling stock.</li>
                        <li><strong>Railway Transportation:</strong> It uses trains and trucks.</li>
                        <li><strong>Air Transportation:</strong> Aviation plays a crucial role in the global trade network.</li>
            </ol>
    </div>
    <div class="container" id="soil">
        <h2 class="my-3 text-decoration-underline">Soil Details.</h2>
        <!-- <img src="/static/soil _map.jpg" alt="" style="width: 40%; height: 400px;"> -->
        <ol class="my-4">
          <li>Alluvial soil[43%]</li>
          <li>Red soil[18.5%]</li>
          <li>Black/regur soil[15%]</li>
          <li>Arid / desert soil</li>
          <li>Laterite soil</li>
          <li>Saline soil</li>
          <li>Peaty / marshy soil</li>
          <li>Forest soil</li>
          <li>Sub-mountain soil</li>
          <li>Snowfields</li>
        </ol>
        <h3 class="my-4 text-decoration-underline">What You Can Do With Different Types Of Soils?</h3>
        <h3 class="my-4">Alluvial soil:</h3>
        <li>Mostly available soil in India (about 43%) covers an area of 143 sq. km.</li>
        <li>Indus-Ganga-Brahmaputhra plain, Narmada-Tapi plain etc are examples.</li>
        <li>Rich in: potash and poor in: phosphorous</li>
        <li>Wheat, rice, maize, sugarcane, pulses, oilseed, etc. are cultivated mainly.</li>
        <li><strong>Color: </strong>Light Grey to Ash Grey.</li>
        <li><strong>Texture: </strong> Sandy to silty loam or clay.</li>
        <h3 class="my-4">Red soil:</h3>
        <li>Seen mainly in low-rainfall areas.</li>
        <li>Absence of lime, kankar.</li>
        <li><strong>Color: </strong>Red because of Ferric oxide.</li>
        <li>Wheat, cotton, pilses, tobaco, oilseeds, potatoes, etc.</li>
        <h3 class="my-4">Black soil / regur soil:</h3>
        <li>Regur means cotton - the best soil for cotton cultivation.</li>
        <li>Most of the Decean is occupied by black soil.</li>
        <li>suitable for crops like cotton, pulses, and oilseeds.</li>
        <li><strong>Color: </strong>Deep black to light black.</li>
        <h3 class="my-4">Laterite soil:</h3>
        <li>It becomes so soft when wet and so hard when dreid.</li>
        <li>In the areas of high temperatures and high rainfall.</li>
        <li><strong>Color: </strong>Red color due to iron oxide.</li>
        <li>Rice, Ragi, sugarcane, and Cashew nuts are cultivated mainly.</li>
        <h2 class="my-3 text-decoration-underline">Some Specific soil quality of state.</h2>
        <details>
            <summary style="font-size: x-large;">Rajasthan</summary>
          <ul>
            <li><strong>Alluvial Soil: </strong>Alluvial soil is found in the river basins of the Chambal, Banas, and Mahi rivers. It is relatively fertile and well-suited for agriculture. In these areas you can grow a variety of crops, including wheat, barley, cotton, and pulses.</li>
            <li><strong>Red and Yellow Soils: </strong>Red and yellow soils are widespread in the hilly and upland regions of Rajasthan. They are typically well-drained and moderately fertile. In these areas cultivate crops like millets, oilseeds, and pulses.</li>
            <li><strong>Black Soil (Regur): </strong>Black soil, also known as regur, is found in parts of southern and southeastern Rajasthan. It is known for its high fertility and moisture-retentive properties, making it suitable for crops like cotton, soybeans, and oilseeds.</li>
          </ul>
          </details>
        <details>
            <summary style="font-size: x-large;">Bihar</summary>
          <ul>
            <li><strong>Terai Soil: </strong>Terai soil is found in the low-lying areas along the foothills of the Himalayas in northern Bihar. It is often rich in organic matter but may have drainage issues. These soils are suitable for rice, sugarcane, and jute cultivation.</li>
            <li><strong>Black Soil: </strong>Black soil, also known as Regur or Cotton soil, is found in some parts of Bihar. These soils are known for their moisture-retaining properties and are suitable for crops like cotton, pulses, and oilseeds.</li>
            <li><strong>Terai Soil: </strong>Terai soils are found in the foothills of the Himalayas in the northern part of Bihar. These soils are generally fertile and suitable for crops like rice, sugarcane, jute, and some fruits and vegetables.</li>
           <h2></h2>
          </ul>
          </details>
        <details>
            <summary style="font-size: x-large;">Uttar Pradesh</summary>
          <ul>
            <li><strong>Red Soil: </strong>Red soils are found in parts of southern and southwestern Uttar Pradesh. These soils are ideal for crops like groundnuts, pulses, millets, and some oilseeds.</li>
            <li><strong>Sandy Soil:  </strong>Sandy soils are prevalent in parts of the state and are generally suitable for crops like melons, watermelons, and other fruits and vegetables that prefer well-drained soils.</li>
            <li><strong>Clayey Soil: </strong>Clayey soils can be found in various regions of Uttar Pradesh and are suitable for crops like wheat, rice, and sugarcane, provided they have proper drainage.</li>
          </ul>
          </details>
        <details>
            <summary style="font-size: x-large;">West Bengal</summary>
          <ul>
            <li><strong>Laterite Soil: </strong> Laterite soil is found in parts of the southwestern and eastern regions of West Bengal. This soil type is less fertile, but with proper soil management, farmers can grow crops like oilseeds, pulses, and some varieties of fruits.</li>
            <li><strong>Coastal Soil: </strong> In the coastal regions of West Bengal, you find coastal soils, which are influenced by their proximity to the sea.In these areas you can cultivate salt-tolerant rice varieties, shrimp, fish, and other aquatic products.</li>
          </ul>
          </details>
        <details>
            <summary style="font-size: x-large;">Jammu & Kashmir</summary>
          <ul>
            <li><strong>Mountain Soil: </strong>This type of soil is found in the hilly and mountainous regions of Jammu and Kashmir. It is often rocky and less suitable for agriculture. The steep terrain and rocky nature of the soil make cultivation challenging. However, in some areas with more favorable conditions, farmers may grow crops like apples, cherries, and other temperate fruits.</li>
            <li><strong>Loamy Soil:  </strong> Loamy soil is relatively fertile and can be found in the valleys and lower-altitude areas of the region. This soil type is suitable for a variety of crops like Apples, Walnuts, Cherries, Grapes.</li>
            <li><strong>Riverine Soil: </strong>In the valleys and along riverbanks, you can find riverine soil, which is typically fertile and suitable for crops like rice, maize, wheat, and vegetables.</li>
          </ul>
          </details>
    </div>
    <div class="container" id="recommendation">
      <h2 class="my-3 text-decoration-underline">Recommendation for farming according to different whether or climate.</h2>
      <h4 class="my-3">Cool/Cold Weather Vegetables and Fruits:</h4>
      <ul>
        <li><strong>Leafy Greens: </strong>Vegetables like lettuce, spinach, kale, and Swiss chard thrive in cooler temperatures.</li>
        <li><strong>Broccoli: </strong>Broccoli is a cold-tolerant crop that can be grown in early spring or late fall.</li> 
        <li><strong>Cabbage: </strong>Cabbage can withstand cooler temperatures and is often grown in cool climates.</li> 
        <li><strong>Apples: </strong>Certain apple varieties are well-suited to regions with cold winters.</li> 
        <li><strong>Carrots: </strong>Carrots are a root vegetable that can be grown in cooler weather.</li> 
        </ul>
      <h4 class="my-3">Temperate Weather Vegetables and Fruits:</h4>
      <ul>
        <li><strong>Tomatoes:  </strong>Tomatoes prefer warm but not scorching temperatures, making them a staple in many temperate climates.</li>
        <li><strong>Peppers: </strong>Bell peppers and chili peppers do well in warm weather and are often grown in temperate regions.</li> 
        <li><strong>Strawberries: </strong>Strawberries thrive in moderate temperatures and are often cultivated in temperate zones.</li> 
        <li><strong>Peaches:  </strong>Peach trees require a certain number of chill hours, which makes them suitable for temperate climates.</li> 
        </ul>
      <h4 class="my-3">Hot Weather Vegetables and Fruits:</h4>
      <ul>
        <li><strong>Cucumbers:  </strong>Cucumbers thrive in warm weather and are common in hot climates.
          Watermelons: Watermelons require hot weather to grow and ripen.</li>
        <li><strong>Okra: </strong>Okra is a heat-loving vegetable that does well in hot climates.</li> 
        <li><strong>Mangoes: </strong>Mango trees flourish in tropical and subtropical regions with consistently warm temperatures.</li> 
        </ul>
      <h4 class="my-3">Mediterranean Climate Vegetables and Fruits:</h4>
      <ul>
        <li><strong>Olives: </strong>Olive trees are well-suited to regions with a Mediterranean climate, characterized by hot, dry summers and mild, wet winters.</li>
        <li><strong>Grapes:  </strong>Grapes for wine production often do well in Mediterranean climates.</li> 
        <li><strong>Citrus Fruits: </strong>Oranges, lemons, and other citrus fruits thrive in areas with Mediterranean-like weather patterns.</li> 
        </ul>
    </div>
    <h2 class="my-5 text-center text-decoration-underline">State wise distribution of cold-storage.</h2>
    <div class="container d-flex align-content-center justify-content-around" id="storage">
      <table border="1" bordercolor="#ccc" cellpadding="5" cellspacing="0" class="Table" style="border-collapse:collapse">
        <tbody>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><strong><span style="color:black">S. No.</span></strong></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><strong><span style="color:black">Name of the State</span></strong></span></span></p>
            </td>
            <td colspan="2" style="width:239.0pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><strong><span style="color:black">Total</span></strong></span></span></p>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="width:248.0pt">
            <p style="text-align:justify">&nbsp;</p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><strong><span style="color:black">No.</span></strong></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><strong><span style="color:black">Capacity (MT)</span></strong></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">1</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Andaman &amp; Nicobar Islands (UT)</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">3</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">810</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">2</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Andhra Pradesh &amp; Telangana</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">405</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">1567664</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">3</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Arunachal Pradesh</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">2</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">6000</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">4</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Assam</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">39</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">178096</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">5</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Bihar</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">311</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">1479122</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">6</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Chandigarh (UT)</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">7</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">12462</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">7</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Chhattisgarh</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">99</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">487292</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">8</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Delhi</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">97</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">129857</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">9</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Goa</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">29</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">7705</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">10</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Gujarat</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">969</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">3822112</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">11</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Haryana</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">359</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">819809</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">12</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Himachal Pradesh</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">76</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">146769</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">13</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Jammu &amp; Kashmir</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">69</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">250169</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">14</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Jharkhand</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">58</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">236680</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">15</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Karnataka</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">223</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">676832</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">16</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Kerala</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">199</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">81705</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">17</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Lakshadweep (UT)</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">1</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">15</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">18</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Madhya Pradesh</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">302</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">1293574</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">19</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Maharashtra</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">619</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">1009693</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">20</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Manipur</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">2</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">4500</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">21</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Meghalaya</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">4</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">8200</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">22</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Mizoram</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">3</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">4001</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">23</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Nagaland</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">3</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">7150</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">24</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Orissa</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">179</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">572966</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">25</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Pondicherry (UT)</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">3</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">85</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">26</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Punjab</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">697</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">2315096</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">27</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Rajasthan</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">180</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">611831</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">28</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Sikkim</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">2</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">2100</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">29</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Tamil Nadu</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">183</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">382683</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">30</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Telangana</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">74</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">410905</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">31</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Tripura</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">14</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">46354</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">32</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Uttar Pradesh</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">2406</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">14714235</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">33</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">Uttrakhand</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">55</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">191314</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">34</span></span></span></p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">West Bengal</span></span></span></p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">514</span></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><span style="color:black">5947311</span></span></span></p>
            </td>
          </tr>
          <tr>
            <td style="width:45.5pt">
            <p style="text-align:justify">&nbsp;</p>
            </td>
            <td style="width:202.5pt">
            <p style="text-align:justify">&nbsp;</p>
            </td>
            <td style="width:1.0in">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><strong><span style="color:black">8186</span></strong></span></span></p>
            </td>
            <td style="width:167.0pt">
            <p style="text-align:right"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:16px"><strong><span style="color:black">37425097</span></strong></span></span></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <footer>
      <div class="footer-content">
          <p>&copy; 2023 Farm NextIn</p>
      </div>
  </footer>
    <!-- <div class="container">
      <h1>How to use the website?</h1>
      <p>You can start by clicking on any state from the dropdown menu. Once clicked, it will show all the details about that particular state</p>
        <p>You can easily navigate through our site by using the menu bar at the top. You will find options like Home, About Us,  </p>
          <p><strong>Step 1:</strong> Click on any state from the list above. You will be redirected to a page</p>
            <p><b>Step 1:</b> Click on any state from the dropdown menu or search bar. You will be redirected</p>
              to that particular states page where you can see all the details about that specific state and what you can do there.</p>
    </div> -->
    <script>
       // Chatbot icon click event
const chatbotIcon = document.getElementById('chatbot-icon');
const chatbotContainer = document.getElementById('chatbot-container');
const chatbotInput = document.getElementById('chatbot-input');

chatbotIcon.addEventListener('click', () => {
    chatbotContainer.style.display = 'block';
});

window.addEventListener('click',()=>{
  if(event.target == chatbotContainer){
    chatbotContainer.style.display='none'
    }
})
// Function to add a chat message
function addMessage(sender, message) {
    const chatbotMessages = document.getElementById('chatbot-messages');
    const messageDiv = document.createElement('div');
    messageDiv.textContent = `[${sender}] ${message}`;
    chatbotMessages.appendChild(messageDiv);
}

// Function to handle user input
chatbotInput.addEventListener('keydown', (e) => {
    if (e.key === 'Enter') {
        const userMessage = chatbotInput.value;
        addMessage('User', userMessage);
        chatbotInput.value = '';

        // Simulate bot response based on user input
        setTimeout(() => {
            let botResponse = '';

            // Implement additional responses based on user input
            if (userMessage.toLowerCase().includes('hii')) {
                botResponse = 'Hello there!';
            } else if (userMessage.toLowerCase().includes('how are you')) {
                botResponse = 'I am just a simple chatbot.';
            } else if (userMessage.toLowerCase().includes('i am facing some problem')) {
                botResponse = 'Please explain your problem.';
            } else {
                botResponse = 'Im not sure how to respond to that.';
            }

            addMessage('Bot', botResponse);
        }, 1000);
    }
});

    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>