@import url('https://fonts.googleapis.com/css2?family=Ruwudu&display=swap');
*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: rgb(146, 197, 146);
    font-family: 'Ruwudu', serif;
}
#result{
    font-size: x-large;
    font-family: 'Ruwudu', serif;
    color: burlywood;
}
nav a{
    font-family: 'Ruwudu', serif;
}